<!-- accounts/templates/accounts/quest_detail.html -->

<h1>{{ quest.title }}</h1>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Ответить</button>
</form>

{% if result %}
    <h2>Результаты:</h2>
    <ul>
        {% for question, res in result %}
            <li>{{ question.question_text }} - {{ res }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% if quest_progress.is_completed %}
    <p>Вы уже прошли этот квест.</p>
{% else %}
    <p>Вы не прошли этот квест.</p>
{% endif %}









